<hr />

<div class='row'>
  <div class='span10'>
    <h2>Informações para contato</h2>

    <% if @user.contact_info.present? %>
    
      <h3><%= @user.contact_info.title %></h3>
      <%= simple_format(@user.contact_info.description) %>
      <div class='span2'>
        <p>
          <%= link_to 'Editar', edit_user_contact_info_path(@user, @user.contact_info), class: 'btn btn-info' %>
          <%= link_to 'Remover', user_contact_info_path(@user, @user.contact_info), method: 'delete', confirm: 'Tem certeza?', class: 'btn btn-danger' %>
        </p>
      </div>

    <cite>** As informações para contato serão automaticamente atribuídas à todos os anúncios publicados.</cite>
    <% else %>
      <div class='center'>
        <p>Você ainda não adicionou as informações para contato.</p>
        <p>
          <%= link_to 'Adicionar informações para contato', 
                      new_user_contact_info_path(current_user),
                      class: 'btn btn-primary btn-large' %>
        </p>
      </div>
    <% end %>

  </div>
</div>

<hr />

<div class='row'>
  <div class='span10'>
    <h2>Meus anúncios</h2>
  </div>
  <div class='span2'>
    <p><%= link_to 'Novo anúncio', new_post_path, class: 'btn btn-primary' %></p>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @user.posts.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= link_to p.title, post_path(p) %></td>
      <td><%= p.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>