<% provide(:title, "Entrar") %>
<h1>Iniciar sessão</h1>

<div class="row">
  <div class="span6 offset3">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %>
  <%= f.email_field :email %></p>

  <p><%= f.label :password, "Senha" %>
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me, "Lembrar minha senha" %></p>
  <% end -%>

  <p><%= f.submit "Entrar", class: "btn btn-large btn-primary" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

  </div>
</div>
