<div class='row'>

  <div class='span8'>

    <h1><%= @title %></h1>

    <%= simple_form_for(@post, :html => {:class => 'form-horizontal' }) do |f| %>
        <%= f.input :title, label: "Título", hint: 'Evite usar termos como: URGENTE' %>

        <%= f.input :description, label: "Descrição", 
                                  hint: 'Descreva o anúncio com o maior número de informações possível', 
                                  as: 'text' %>

        <%= f.input :location,  label: "Localização", 
                                hint: 'ex: Aichi-ken / Toyohashi-shi', 
                                placeholder: 'Província / Cidade' %>

        <%= f.button :submit, @post.new_record? ? 'Criar' : 'Salvar', class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>

    <% if @post.errors.any? %>

    <div class='span4'>
      <h3>Os seguintes erros foram encontrados:</h3>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

    <% end %>

</div>
