<% provide(:title, 'Empregos no Japão') %>
<div class='row'>

  <div class='span9'>

    <ul id='posts'>
      <% @posts.each do |post| %>
      <li>

        <div class='row-fluid'>

          <div class='span9 offset0'>
            <h3><%= link_to post.title, post_path(post) %></h3>
            <p class='location'><%= post.location %></p>
            <p class='tags'>Tags: 
              <%= link_tags(post.tags) %>
            </p>
          </div>

          <div class='span3 offset10'>
            <p class='created_at'><%= timeago_tag post.created_at %></p>
            <p><span class='company_name label label-company-name'><%= post.user.contact_info.title %></span></p>
          </div>

        </div>

      </li>
      <% end %>
    </ul>

  </div>

  <div class='span3'>

    <h3>TAGS</h3>
    <h4>Filtre anúncios por região</h4>

    <ul class='taglist-vertical'>
    <% @posts.available_tags.each do |tag| %>
      <li><%= link_to tag, tags_filter_post_path(tag) %></li>
    <% end %>
    </ul>
    <hr />
    <h5><%= link_to 'Siga o shigotodoko no Twitter', 'http://twitter.com/shigotodoko' %></h5>

  </div>

</div>