<% provide(:title, "Novo anúncio") %>

<div class='row'>

  <div class='span12'>
    <h1>Novo anúncio</h1>

    <%= simple_form_for(@post, :html => {:class => 'form-horizontal' }) do |f| %>
        <%= f.input :title, label: "Título", hint: 'Evite usar termos como: URGENTE' %>

        <%= f.input :description, label: "Descrição", 
                                  hint: 'Descreva o anúncio com o maior número de informações possível', 
                                  as: 'text' %>

        <%= f.input :location,  label: "Localização", 
                                hint: 'ex: Aichi-ken / Toyohashi-shi', 
                                placeholder: 'Província / Cidade' %>

        <%= f.button :submit, label: "Enviar", class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</div>

