<% provide(:title, @post.title) %>

<div class='row'>
  <div class='post'>
    <div class='span12'>
      <p><%= @post.location %></p>
      <h1><%= @post.title %></h1>

      <div class='row'>

        <div class='span9'>
          <%= simple_format(m(@post.description)) %>

          <% if @post.user.contact_info.present? %>
          <hr />
          <h3><%= @post.user.contact_info.title %></h3>
          <%= simple_format(auto_link(@post.user.contact_info.description)) %>
          <% end %>

          <%= render 'manager_buttons', collection: @post %>
          
          <hr>
          <p><%= link_to '← Retornar à página principal de anúncios', posts_path %></p>
        </div>

        <!-- sidebar -->
        <div class='span3'>
          <h4>TAGS</h4>
          <br>
          <ul class='taglist-vertical tags'>
            <% @post.tags.split(',').flatten.sort.each do |tag| %>
            <li><%= link_to tag, tags_filter_post_path(tag) %></li>
            <% end %>
          </ul>
          <span class='created_at'>publicado <%= timeago_tag @post.published_at, nojs: true, limite: 10.days.ago %></span>
        </div>
        <!-- end sidebar -->

      </div>
    </div>
  </div>
</div>