<% provide(:title, @post.title) %>
<div class='row'>
  <div class='post'>
    <div class='span12'>
      <p><%= @post.location %></p>
      <h1><%= @post.title %></h1>

      <div class='row'>

        <div class='span9'>
          <%= simple_format(@post.description) %>
          <%= render 'manager_buttons', collection: @post %>
          <p><%= link_to 'Retornar à página principal de anúncios', posts_path %></p>
        </div>

        <!-- sidebar -->
        <div class='span3'>
          <h4>TAGS</h4>
          <ul class='taglist-vertical'>
            <% @post.tags.split(',').flatten.sort.each do |tag| %>
            <li><%= link_to tag, tags_filter_post_path(tag) %></li>
            <% end %>
          </ul>
          <span class='created_at'>criado <%= timeago_tag @post.created_at, nojs: true, limite: 10.days.ago %></span>
        </div>
        <!-- end sidebar -->

      </div>
    </div>
  </div>
</div>