<% provide(:title, @post.title) %>
<% provide(:description, @post.description) %>
<% provide(:keywords, @post.title + ', empregos no japao, trabalho no japão, enpregos, emprego no japão, emprego japão, japão empregos, empregos no japão, japão trabalho, trabalho no japão, empregos no jp, trabalhar japão, trabalhar no japão, classificados no japão, serviço no japão, vagas no japão, serviços no japão, trabalho no japão para brasileiros, trabalhe no japão, empregos no japão') %>

<div class='row'>
  <div class='post'>
    <div class='span12'>

      <div class='ad_header'>
  			<script type="text/javascript"><!--
  			google_ad_client = "ca-pub-1679261120441100";
  			/* 728x90 header-job-internals */
  			google_ad_slot = "4600877081";
  			google_ad_width = 728;
  			google_ad_height = 90;
  			//-->
  			</script>
  			<script type="text/javascript"
  			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  			</script>
      </div>
			

      <p><%= @post.location %></p>
      <h1><%= @post.title %></h1>

      <div class='row'>

        <div class='span8'>
			
          <%= simple_format(m(@post.description)) %>

          <% if @post.user.contact_info.present? %>
          <hr />
          <h3><%= @post.user.contact_info.title %></h3>
          <%= simple_format(auto_link(@post.user.contact_info.description)) %>
          <% end %>

          <%= render 'manager_buttons', collection: @post %>
          
          <p><%= link_to '← Retornar à página principal de anúncios', posts_path %></p>
        </div>

        <!-- sidebar -->
        <div class='span4'>
          <h4>TAGS</h4>
          <br>
          <ul class='taglist-vertical tags'>
            <% @post.tags.split(',').flatten.sort.each do |tag| %>
            <li><%= link_to tag, tags_filter_post_path(tag) %></li>
            <% end %>
          </ul>
          <span class='created_at'>publicado <%= timeago_tag @post.published_at, nojs: true, limite: 10.days.ago %></span>
          
          <div class='share'>
            <h4>Compartilhe esta vaga com seus amigos e familiares:</h4>
            <div class="fb-like" data-href="http://www.shigotodoko.com<%= url_for(@post) %>" data-send="false" data-layout="button_count" data-width="105" data-show-faces="true"></div>
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="shigotodoko" data-url="http://www.shigotodoko.com<%= url_for(@post) %>" data-lang="en">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          </div>
          
          <script type="text/javascript"><!--
          google_ad_client = "ca-pub-1679261120441100";
          /* 336x280 job internals sidebar */
          google_ad_slot = "8362671732";
          google_ad_width = 336;
          google_ad_height = 280;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
          
        </div>
        <!-- end sidebar -->

      </div>
    </div>
  </div>
</div>