<% provide(:title, 'Contato') %>
<h1>Contato</h1>
<h3>Para entrar em contato conosco, preencha todos os campos do formulário abaixo.</h3>
<br>
<%= simple_form_for @message, :url => contact_path do |f| %>
      <%= f.input :name, label: "Nome" , input_html: { size: 40, maxlength: 30 } %>    
      <%= f.input :email %>
      <%= f.input :subject, label: "Assunto", input_html: { size: 10 } %>
      <%= f.input :body, label: "Mensagem", as: 'text', input_html: { rows: 10 } %>
  
  <fieldset class="actions">
    <%= f.submit "Enviar", class: 'btn btn-large btn-primary' %>
  </fieldset>
<% end %>