<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=143661522361941";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "shigotodoko", posts_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if current_user && current_user.role == 'announcer' %>
          <li>
            <a href='/posts/new'>
              <i class='icon-file'></i>
              Novo anúncio
            </a>
          </li>
          <% end %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to 'Empreiteiras', prefectures_companies_path %></li>
          <li><%= link_to 'Hello Work', hello_work_agencies_path %></li>
          <% if user_signed_in? %>
          <li id="fat-menu" class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Conta <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", current_user %></li>
                <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sair", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
          <li><%= link_to "Entrar", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
