<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "shigotodoko", posts_path, id: "logo" %>
      <nav>
      <%= link_to 'Enviar anúncio de emprego', new_post_path, { :method => :get, class: 'btn btn-mini btn-primary' } %>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to 'Empreiteiras', prefectures_companies_path %></li>
          <li><%= link_to 'Hello Work', hello_work_agencies_path %></li>
          <% if user_signed_in? %>
          <li id="fat-menu" class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Conta <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", current_user %></li>
                <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sair", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
          <li><%= link_to "Entrar", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
  </div>
</header>
